/* line 1, ../sass/menu.scss */
.navbar {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: end;
}
/* line 8, ../sass/menu.scss */
.navbar__item {
  padding: 9px 10px 7px 10px;
  cursor: pointer;
  margin-top: 13px;
  margin-bottom: 8px;
  color: #fff;
}
/* line 15, ../sass/menu.scss */
.navbar__item:hover {
  color: #00b9ff;
}
