/* line 1, ../sass/navbar.scss */
.navbar {
  height: 56px;
  display: flex;
  justify-content: end;
  font-weight: 600;
  color: #fff;
  align-items: center;
}
/* line 10, ../sass/navbar.scss */
.navbar__item--left {
  margin-right: auto;
}
/* line 15, ../sass/navbar.scss */
.navbar__button {
  margin: 13px 0 8px 10px;
}
