/* line 5, C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: averta;
  font-weight: 500;
  src: url(./../fonts/TW-Averta-Regular.eot);
  src: url(./../fonts/TW-Averta-Regular.eot?#iefix) format("embedded-opentype"), url(./../fonts/TW-Averta-Regular.woff2) format("woff2"), url(./../fonts/TW-Averta-Regular.woff) format("woff"), url(./../fonts/TW-Averta-Regular.ttf) format("truetype");
}
@font-face {
  font-family: averta;
  font-weight: 600;
  src: url(./../fonts/TW-Averta-Semibold.eot);
  src: url(./../fonts/TW-Averta-Semibold.eot?#iefix) format("embedded-opentype"), url(./../fonts/TW-Averta-Semibold.woff2) format("woff2"), url(./../fonts/TW-Averta-Semibold.woff) format("woff"), url(./../fonts/TW-Averta-Semibold.ttf) format("truetype");
}
@font-face {
  font-family: averta;
  font-weight: 800;
  src: url(./../fonts/TW-Averta-Bold.eot);
  src: url(./../fonts/TW-Averta-Bold.eot?#iefix) format("embedded-opentype"), url(./../fonts/TW-Averta-Bold.woff2) format("woff2"), url(./../fonts/TW-Averta-Bold.woff) format("woff"), url(./../fonts/TW-Averta-Bold.ttf) format("truetype");
}
@font-face {
  font-family: glyphicons halflings;
  src: url(./../fonts/glyphicons-halflings-regular.eot);
  src: url(./../fonts/glyphicons-halflings-regular.eot?#iefix) format("embedded-opentype"), url(./../fonts/glyphicons-halflings-regular.woff2) format("woff2"), url(./../fonts/glyphicons-halflings-regular.woff) format("woff"), url(./../fonts/glyphicons-halflings-regular.ttf) format("truetype"), url(./../images/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format("svg");
}
@font-face {
  font-family: icons;
  src: url("./../fonts/icons.eot?4ilf8z");
  src: url("./../fonts/icons.eot?4ilf8z#iefix") format("embedded-opentype"), url("./../fonts/icons.ttf?4ilf8z") format("truetype"), url("./../fonts/icons.woff?4ilf8z") format("woff"), url("./../fonts/icons.svg?4ilf8z#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/* line 1, ../sass/modules/_main.scss */
.main {
  position: relative;
  background-image: url(./../images/bg-blue.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  padding-bottom: 11.6rem;
  margin-bottom: 63rem;
}
/* line 10, ../sass/modules/_main.scss */
.main__append {
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 4.8rem;
  clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
  background-color: #fff;
}

/* line 22, ../sass/modules/_main.scss */
.navbar {
  height: 5.6rem;
  display: flex;
  justify-content: end;
  font-weight: 600;
  color: #fff;
  align-items: center;
}
/* line 31, ../sass/modules/_main.scss */
.navbar__item--left {
  margin-right: auto;
}
/* line 36, ../sass/modules/_main.scss */
.navbar__button {
  margin: 1.1rem 0 .9rem 1rem;
}

/* line 41, ../sass/modules/_main.scss */
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: end;
  font-size: 1.4rem;
}
/* line 49, ../sass/modules/_main.scss */
.menu__item {
  padding: .9rem 1.3rem 1.1rem .9rem;
  margin-top: 1.3rem;
  margin-bottom: .8rem;
  color: #fff;
  line-height: 4rem;
  cursor: pointer;
}
/* line 57, ../sass/modules/_main.scss */
.menu__item:hover {
  color: #00b9ff;
}
/* line 62, ../sass/modules/_main.scss */
.menu__name {
  padding-top: 0;
  margin: 0;
  font-weight: 600;
  max-width: 164px;
  vertical-align: middle;
  letter-spacing: normal;
}

/* line 72, ../sass/modules/_main.scss */
.logo {
  display: flex;
  align-items: center;
  height: 100%;
}
/* line 77, ../sass/modules/_main.scss */
.logo__link {
  background-image: url(./../images/logo.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: transparent;
  font-size: 1.8rem;
  height: 2.4rem;
  line-height: 4rem;
  width: 11.8rem;
  padding: .8rem 1.6rem .5rem;
  margin-bottom: .8rem;
}

/* line 93, ../sass/modules/_main.scss */
.transfer__img {
  display: baseline;
  height: 70px;
  vertical-align: middle;
}
/* line 101, ../sass/modules/_main.scss */
.transfer__img {
  display: baseline;
  height: 70px;
}

/* line 107, ../sass/modules/_main.scss */
.form-group {
  font-family: averta, Helvetica,Arial,sans-serif;
  background-color: transparent;
  display: relative;
}
/* line 112, ../sass/modules/_main.scss */
.form-group__form-row {
  display: flex;
  flex-direction: row;
  min-height: 7.2rem;
}
/* line 117, ../sass/modules/_main.scss */
.form-group__form-row--rounded {
  color: #f2f5f7;
  border-radius: .5rem;
  border: 0.1rem solid #f2f5f7;
}
/* line 124, ../sass/modules/_main.scss */
.form-group__drop-down {
  padding: .4rem 1.2rem .2rem 1.2rem;
  background-color: #2e4369;
  border: 0.1rem solid #2e4369;
}
/* line 129, ../sass/modules/_main.scss */
.form-group__drop-down:hover {
  border-color: #829ca9;
  background-color: #253655;
}
/* line 134, ../sass/modules/_main.scss */
.form-group__drop-down--appended {
  padding: 1.3rem 2rem 1.1rem 1.6rem;
  border-left-width: 0;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
/* line 144, ../sass/modules/_main.scss */
.form-group__input {
  background-color: #fff;
  border-color: #829ca9;
  border-width: .1rem;
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
  width: 70%;
}
/* line 153, ../sass/modules/_main.scss */
.form-group__list {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}
/* line 159, ../sass/modules/_main.scss */
.form-group__list-item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .8rem 0;
  font-size: 1.6rem;
  font-weight: 100;
  color: #fff;
  min-height: 3.2rem;
}
/* line 171, ../sass/modules/_main.scss */
.form-group__list-content {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-left: 0.3rem solid #253655;
  left: 1rem;
  padding-left: 2rem;
  z-index: 1;
  min-height: 4rem;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 186, ../sass/modules/_main.scss */
.form-group__list-icon {
  margin-right: 1.2rem;
  margin-top: .3rem;
  background-color: #253655;
  font-size: 1.8rem;
  color: #fff;
  border: 0.1rem solid #253655;
  border-radius: 50%;
  line-height: 2.3rem;
  width: 2.4rem;
  height: 2.4rem;
  text-align: center;
  vertical-align: middle;
  z-index: 2;
}
/* line 203, ../sass/modules/_main.scss */
.form-group__list-label {
  min-width: 9.6rem;
  font-weight: 600;
}
/* line 208, ../sass/modules/_main.scss */
.form-group__list-text {
  min-width: 9.6rem;
  font-size: 1.6rem;
  color: #d3d5d8;
  font-weight: 200;
  line-height: 2.4rem;
  margin: auto 0;
}
/* line 218, ../sass/modules/_main.scss */
.form-group__button {
  max-height: 2.4rem;
}
/* line 222, ../sass/modules/_main.scss */
.form-group__box {
  display: flex;
  padding: 0 1.2rem;
  margin: 1.2rem 0;
  height: 4.8rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* line 232, ../sass/modules/_main.scss */
.form-group__graph {
  height: 2.4rem;
  width: 1.7rem;
  margin: 0rem .5rem;
}

/* line 239, ../sass/modules/_main.scss */
.input-group {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
/* line 244, ../sass/modules/_main.scss */
.input-group__label {
  padding-left: 1.4rem;
  padding-top: .7rem;
  color: #5d7079;
  font-size: 1.4rem;
  line-height: 2rem;
  user-select: none;
}
/* line 253, ../sass/modules/_main.scss */
.input-group__input {
  font-family: averta, Helvetica,Arial,sans-serif;
  margin: 0px 0px;
  padding: .4rem 1.2rem;
  color: #2e4369;
  font-size: 2.2rem;
  border: none;
}

/* line 264, ../sass/modules/_main.scss */
.drop-down {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  cursor: pointer;
  user-select: none;
  border-collapse: separate;
}
/* line 274, ../sass/modules/_main.scss */
.drop-down--big {
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: 500;
}
/* line 280, ../sass/modules/_main.scss */
.drop-down--small {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 500;
  letter-spacing: normal;
}
/* line 287, ../sass/modules/_main.scss */
.drop-down__selected-icon {
  margin-right: .7rem;
}
/* line 291, ../sass/modules/_main.scss */
.drop-down__selected-label {
  margin-right: 1rem;
}
/* line 295, ../sass/modules/_main.scss */
.drop-down__selected-text {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 3.2rem;
}

/* line 304, ../sass/modules/_main.scss */
.list-icon {
  margin-right: 1.2rem;
  background-color: #253655;
  font-size: 1.8rem;
  color: #fff;
  border: 0.1rem solid #253655;
  border-radius: 50%;
  line-height: 2.3rem;
  width: 2.4rem;
  height: 2.4rem;
  text-align: center;
  vertical-align: middle;
}

/* line 1, ../sass/modules/_banner.scss */
.banner {
  padding: 3rem 0;
  background-image: url(./../images/bg-white.svg), url(./../images/bg-grey.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: top left, top right;
  background-size: contain, contain;
}
/* line 8, ../sass/modules/_banner.scss */
.banner__header {
  display: flex;
  justify-content: space-between;
}
/* line 13, ../sass/modules/_banner.scss */
.banner__content {
  padding-top: 0;
  width: 100%;
}
/* line 18, ../sass/modules/_banner.scss */
.banner__title {
  width: 70%;
}
/* line 22, ../sass/modules/_banner.scss */
.banner__text {
  width: 70%;
}
/* line 26, ../sass/modules/_banner.scss */
.banner__links {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  /* line 38, ../sass/modules/_banner.scss */
  .banner__content {
    background-image: url(./../images/banner_1.png), url(./../images/banner_2.png);
    background-size: 134px, auto 85%;
    background-repeat: no-repeat, no-repeat;
    background-origin: content-box, content-box;
    background-position: 82% bottom, right top;
  }
}
@media screen and (max-width: 768px) {
  /* line 50, ../sass/modules/_banner.scss */
  .banner__content {
    background-image: none;
  }
}
/* line 1, ../sass/modules/_common.scss */
html {
  font-family: averta, Helvetica,Arial,sans-serif;
  color: #000;
  font-size: 10px;
  line-height: 2.5rem;
  font-weight: 500;
  letter-spacing: .016rem;
}

/* line 10, ../sass/modules/_common.scss */
body {
  margin: 0;
}

/* line 14, ../sass/modules/_common.scss */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* line 20, ../sass/modules/_common.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* line 24, ../sass/modules/_common.scss */
p {
  padding: 0;
  margin: 0;
}

/* line 29, ../sass/modules/_common.scss */
span {
  padding: 0;
  margin: 0;
}

/* line 35, ../sass/modules/_common.scss */
a {
  font-weight: 500;
  padding: 0;
  margin: 0;
}

/* line 41, ../sass/modules/_common.scss */
img {
  max-width: 100%;
  max-height: 100%;
}

/*** hiding elements from a view ***/
/* line 47, ../sass/modules/_common.scss */
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*** margin-top ***/
/* line 59, ../sass/modules/_common.scss */
.m-t-8 {
  margin-top: .8rem !important;
}

/* line 63, ../sass/modules/_common.scss */
.m-t-12 {
  margin-top: 1.2rem !important;
}

/* line 67, ../sass/modules/_common.scss */
.m-t-34 {
  margin-top: 3.4rem;
}

/*** margin-right ***/
/* line 72, ../sass/modules/_common.scss */
.m-r-5 {
  margin-right: 0.5rem;
}

/* line 76, ../sass/modules/_common.scss */
.m-r-10 {
  margin-right: 1rem;
}

/* line 80, ../sass/modules/_common.scss */
.m-r-12 {
  margin-right: 1.2rem !important;
}

/* line 84, ../sass/modules/_common.scss */
.m-r-16 {
  margin-right: 1.6rem;
}

/*** margin-bottom ***/
/* line 89, ../sass/modules/_common.scss */
.m-b-12 {
  margin-bottom: 1.2rem;
}

/* line 93, ../sass/modules/_common.scss */
.m-b-16 {
  margin-bottom: 1.6rem;
}

/* line 97, ../sass/modules/_common.scss */
.m-b-18 {
  margin-bottom: 1.8rem;
}

/* line 101, ../sass/modules/_common.scss */
.m-b-80 {
  margin-bottom: 8rem;
}

/*** margin-left ***/
/* line 107, ../sass/modules/_common.scss */
.m-l-2 {
  margin-left: 0.2rem;
}

/* line 111, ../sass/modules/_common.scss */
.m-l-8 {
  margin-left: 0.8rem;
}

/*** padding-top ***/
/* line 116, ../sass/modules/_common.scss */
.p-t-8 {
  padding-top: .8rem !important;
}

/* line 120, ../sass/modules/_common.scss */
.p-t-12 {
  padding-top: 1.2rem !important;
}

/* line 125, ../sass/modules/_common.scss */
.p-t-15 {
  padding-top: 1.5rem;
}

/* line 129, ../sass/modules/_common.scss */
.p-t-20 {
  padding-top: 2rem;
}

/* line 133, ../sass/modules/_common.scss */
.p-t-24 {
  padding-top: 2.4rem;
}

/* line 137, ../sass/modules/_common.scss */
.p-t-64 {
  padding-top: 6.4rem;
}

/* line 141, ../sass/modules/_common.scss */
.p-t-80 {
  padding-top: 8rem;
}

/*** padding-right ***/
/* line 149, ../sass/modules/_common.scss */
.p-r-3 {
  padding-right: .3rem;
}

/* line 153, ../sass/modules/_common.scss */
.p-r-5 {
  padding-right: .5rem;
}

/* line 157, ../sass/modules/_common.scss */
.p-r-8 {
  padding-right: .8rem !important;
}

/* line 161, ../sass/modules/_common.scss */
.p-r-12 {
  padding-right: 1.2rem !important;
}

/* line 165, ../sass/modules/_common.scss */
.p-r-18 {
  padding-right: 1.8rem;
}

/* line 169, ../sass/modules/_common.scss */
.p-r-44 {
  padding-right: 4.4rem;
}

/* line 173, ../sass/modules/_common.scss */
.p-r-48 {
  padding-right: 4.8rem;
}

/*** padding-bottom ***/
/* line 179, ../sass/modules/_common.scss */
.p-b-12 {
  padding-bottom: 1.2rem;
}

/* line 183, ../sass/modules/_common.scss */
.p-b-16 {
  padding-bottom: 1.6rem;
}

/* line 187, ../sass/modules/_common.scss */
.p-b-20 {
  padding-bottom: 2rem;
}

/* line 191, ../sass/modules/_common.scss */
.p-b-24 {
  padding-bottom: 2.4rem;
}

/* line 195, ../sass/modules/_common.scss */
.p-b-32 {
  padding-bottom: 3.2rem;
}

/* line 199, ../sass/modules/_common.scss */
.p-b-48 {
  padding-bottom: 4.8rem;
}

/* line 203, ../sass/modules/_common.scss */
.p-b-100 {
  padding-bottom: 10rem;
}

/*** padding-left ***/
/* line 208, ../sass/modules/_common.scss */
.p-l-3 {
  padding-left: .3rem;
}

/* line 212, ../sass/modules/_common.scss */
.p-l-8 {
  padding-left: .8rem;
}

/* line 216, ../sass/modules/_common.scss */
.p-l-12 {
  padding-left: 1.2rem;
}

/* line 220, ../sass/modules/_common.scss */
.p-l-24 {
  padding-left: 2.4rem;
}

/* line 224, ../sass/modules/_common.scss */
.p-l-64 {
  padding-left: 6.4rem;
}

/** imgs ***/
/* line 230, ../sass/modules/_common.scss */
.img {
  vertical-align: middle;
}

/* line 234, ../sass/modules/_common.scss */
.border-separator {
  border-left: 0.2rem solid #253655;
}

/* line 238, ../sass/modules/_common.scss */
.blue-text {
  color: #00b9ff;
}

/* line 1, ../sass/modules/_content.scss */
.content {
  margin: 0 auto;
}
/* line 4, ../sass/modules/_content.scss */
.content__link {
  color: #00b9ea;
  letter-spacing: normal;
}
/* line 8, ../sass/modules/_content.scss */
.content__link:hover {
  color: #00a4d5;
}
/* line 12, ../sass/modules/_content.scss */
.content__link--underlined {
  text-decoration: underline;
  font-weight: 600;
}
/* line 18, ../sass/modules/_content.scss */
.content__text {
  color: #f2f5f7;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
/* line 23, ../sass/modules/_content.scss */
.content__text--bold {
  font-weight: 600;
}
/* line 27, ../sass/modules/_content.scss */
.content__text--blue {
  color: #00b9ff;
}
/* line 31, ../sass/modules/_content.scss */
.content__text--grey {
  color: #5d7079;
}
/* line 35, ../sass/modules/_content.scss */
.content__text--dark-blue {
  color: #2e4369;
}
/* line 39, ../sass/modules/_content.scss */
.content__text--white {
  color: #fff;
}
/* line 44, ../sass/modules/_content.scss */
.content__title {
  text-align: left;
  color: #fff;
  font-weight: 800;
  letter-spacing: normal;
}
/* line 50, ../sass/modules/_content.scss */
.content__title--h1 {
  font-size: 4.2rem;
  line-height: 5.6rem;
}
/* line 55, ../sass/modules/_content.scss */
.content__title--h2 {
  font-size: 2.8rem;
  color: #2e4369;
  line-height: 3.2rem;
}
/* line 61, ../sass/modules/_content.scss */
.content__title--h4 {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 2.4rem;
}
/* line 69, ../sass/modules/_content.scss */
.content__row {
  display: flex;
  flex-direction: row;
  width: 100%;
}
/* line 77, ../sass/modules/_content.scss */
.content__col--1 {
  width: 100%;
}
/* line 81, ../sass/modules/_content.scss */
.content__col--2 {
  width: 50%;
}
/* line 85, ../sass/modules/_content.scss */
.content__col--3 {
  width: 30%;
}
/* line 89, ../sass/modules/_content.scss */
.content__col--4 {
  width: 25%;
}
/* line 93, ../sass/modules/_content.scss */
.content__col--6 {
  width: 65%;
}

@media screen and (min-width: 1200px) {
  /* line 103, ../sass/modules/_content.scss */
  .content {
    max-width: 1164px;
  }

  /* line 108, ../sass/modules/_content.scss */
  .xl--hidden {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  /* line 115, ../sass/modules/_content.scss */
  .content {
    max-width: 1164px;
  }

  /* line 120, ../sass/modules/_content.scss */
  .l--hidden {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  /* line 127, ../sass/modules/_content.scss */
  .content {
    max-width: 576px;
  }

  /* line 132, ../sass/modules/_content.scss */
  .m--hidden {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  /* line 139, ../sass/modules/_content.scss */
  .content {
    max-width: 480px;
  }

  /* line 144, ../sass/modules/_content.scss */
  .s--hidden {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  /* line 153, ../sass/modules/_content.scss */
  .xs--hidden {
    display: none;
  }
}
/* line 2, ../sass/modules/_sections.scss */
.top-notification {
  width: 100%;
  padding: 1.6rem 3.2rem;
  font-size: 1.4rem;
  color: #f2f5f7;
  background-color: #253655;
}
/* line 9, ../sass/modules/_sections.scss */
.top-notification__content {
  padding: 0;
  line-height: 2.4rem;
}
/* line 13, ../sass/modules/_sections.scss */
.top-notification__content--bold {
  letter-spacing: normal;
  font-weight: 600;
}

/* line 20, ../sass/modules/_sections.scss */
.exchange-rate {
  position: relative;
}
/* line 23, ../sass/modules/_sections.scss */
.exchange-rate__container {
  position: absolute;
  top: 1rem;
  display: block;
  width: 100%;
}
/* line 30, ../sass/modules/_sections.scss */
.exchange-rate__widget {
  background-color: #fff;
  border-radius: .3rem;
  box-shadow: 0 1rem 3rem 0 rgba(121, 124, 126, 0.3);
  max-width: 912px;
  margin: 0 auto;
  padding: 2.4rem;
}
/* line 39, ../sass/modules/_sections.scss */
.exchange-rate__row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
/* line 45, ../sass/modules/_sections.scss */
.exchange-rate__title {
  color: #2e4369;
  letter-spacing: normal;
  line-height: 3rem;
  font-size: 2.2rem;
  font-weight: 600;
}
/* line 53, ../sass/modules/_sections.scss */
.exchange-rate__desc {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 600;
  color: #5d7079;
}
/* line 61, ../sass/modules/_sections.scss */
.exchange-rate__icon--pre {
  width: 3rem;
  height: .4rem;
  margin-right: .9rem;
  margin-bottom: .3rem;
}
/* line 67, ../sass/modules/_sections.scss */
.exchange-rate__icon--after {
  margin-left: .8rem;
  width: 1.3rem;
  height: 1.3rem;
}
/* line 74, ../sass/modules/_sections.scss */
.exchange-rate__graph {
  margin-bottom: 1.6rem;
}
/* line 78, ../sass/modules/_sections.scss */
.exchange-rate__button {
  margin: 0 auto;
}
/* line 82, ../sass/modules/_sections.scss */
.exchange-rate__footer {
  max-width: 912px;
  padding: 5.5rem 1.2rem 10rem 0rem;
  margin: 0 auto;
}

/* line 90, ../sass/modules/_sections.scss */
.instructions {
  padding: 9.2rem 0 7.2rem;
  background-image: url(./../images/bg_grey_instruction.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
}
/* line 97, ../sass/modules/_sections.scss */
.instructions__title {
  width: 100%;
  text-align: center;
  margin-bottom: 4.8rem;
  color: #2e4369;
}
/* line 104, ../sass/modules/_sections.scss */
.instructions__blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* line 110, ../sass/modules/_sections.scss */
.instructions__block {
  padding: 2.4rem 3.2rem 4.8rem;
  margin: 1.2rem 2.4rem 1.2rem 0;
  border: none;
  border-radius: .3rem;
  box-shadow: 0 0 3rem 0 rgba(226, 230, 232, 0.3);
  background-size: 100%;
  background-color: #fff;
}

/* line 121, ../sass/modules/_sections.scss */
.block {
  display: block;
  min-width: 35rem;
  width: 35rem;
}
/* line 126, ../sass/modules/_sections.scss */
.block__img {
  width: 100%;
  margin-bottom: 2.4rem;
}
/* line 131, ../sass/modules/_sections.scss */
.block__title {
  color: #2e4369;
  font-weight: 800;
  text-align: center;
}
/* line 137, ../sass/modules/_sections.scss */
.block__text {
  text-align: center;
  padding-top: .8rem;
}

/* line 143, ../sass/modules/_sections.scss */
.publications {
  padding: 9.2rem 0 7.2rem;
  background-image: url(./../images/bg_grey_instruction.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  position: relative;
}
/* line 151, ../sass/modules/_sections.scss */
.publications__title {
  width: 100%;
  padding-bottom: 5rem;
  color: #2e4369;
  text-align: center;
}
/* line 158, ../sass/modules/_sections.scss */
.publications__photo {
  width: 60rem;
  height: 52rem;
}
/* line 163, ../sass/modules/_sections.scss */
.publications__card {
  position: relative;
  width: 100%;
}
/* line 168, ../sass/modules/_sections.scss */
.publications__pages {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}
/* line 176, ../sass/modules/_sections.scss */
.publications__page {
  list-style-type: none;
  display: inline-block;
  position: relative;
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 1.6rem;
  height: 1.6rem;
  background-color: #d3d5d8;
  border-radius: 50%;
  display: block;
  margin-right: 1.2rem;
}
/* line 194, ../sass/modules/_sections.scss */
.publications__page--active {
  background-color: #253655;
}
/* line 199, ../sass/modules/_sections.scss */
.publications__decor {
  position: absolute;
  border-radius: 50%;
  width: 100%;
  left: 60%;
  top: 56%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16rem;
  height: 16rem;
}

/* line 216, ../sass/modules/_sections.scss */
.card__content {
  max-width: 598px;
  margin: 0;
  border: 0;
  top: 5rem;
  left: auto;
  right: 0;
  position: absolute;
  background-color: #253655;
  padding: 6.4rem;
  z-index: 2;
}
/* line 229, ../sass/modules/_sections.scss */
.card__text {
  color: #fff;
}
/* line 233, ../sass/modules/_sections.scss */
.card__address {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.4rem;
  padding-top: 1.2rem;
}
/* line 241, ../sass/modules/_sections.scss */
.card__button {
  margin-top: 1.2rem;
}

/* line 246, ../sass/modules/_sections.scss */
.support {
  padding: 9.6rem 0;
}
/* line 248, ../sass/modules/_sections.scss */
.support__content {
  display: flex;
  flex-direction: column;
  padding-right: 11rem;
}
/* line 254, ../sass/modules/_sections.scss */
.support__title {
  color: #2e4369;
}
/* line 258, ../sass/modules/_sections.scss */
.support__text {
  padding-top: 1.6rem;
  padding-bottom: 2.4rem;
}
/* line 263, ../sass/modules/_sections.scss */
.support__button {
  width: fit-content;
  padding: 1rem 2.4rem;
}

/* line 270, ../sass/modules/_sections.scss */
.illustration {
  width: 100%;
  position: relative;
}
/* line 274, ../sass/modules/_sections.scss */
.illustration__img1 {
  width: 70%;
  max-width: 68rem;
  position: relative;
  z-index: 1;
}
/* line 281, ../sass/modules/_sections.scss */
.illustration__img2 {
  width: 50%;
  max-width: 39rem;
  margin-top: -15%;
  left: 30%;
  position: relative;
  z-index: 2;
}
/* line 290, ../sass/modules/_sections.scss */
.illustration__img3 {
  position: absolute;
  left: 20%;
  bottom: 13%;
  color: #ffa600;
  width: 15rem;
  height: 15rem;
}

/* line 1, ../sass/modules/_elements.scss */
.link-button {
  display: block;
  padding: 1rem 2.4rem;
  border-radius: .5rem;
  border: 0.1rem solid #000;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 2.4rem;
  letter-spacing: normal;
  color: #000;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
}
/* line 15, ../sass/modules/_elements.scss */
.link-button:hover {
  color: #fff;
  background-color: #00b9ff;
  border: 0.1rem solid #00b9ff;
}
/* line 21, ../sass/modules/_elements.scss */
.link-button--white-blue {
  color: #00b9ff;
  border: 0.1rem solid #00b9ff;
}
/* line 26, ../sass/modules/_elements.scss */
.link-button--white-grey {
  color: #828691;
  border: 0.1rem solid #828691;
}
/* line 31, ../sass/modules/_elements.scss */
.link-button--small {
  border-radius: .2rem;
  font-size: 1.4rem;
  font-weight: 600;
  padding: .4rem 1.6rem .2rem;
}

/* line 41, ../sass/modules/_elements.scss */
.button {
  display: inline-flex;
  padding: 1rem 2.4rem;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 4.8rem;
  font-family: averta, Helvetica,Arial,sans-serif;
  background-color: transparent;
  color: #f2f5f7;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  text-align: center;
  letter-spacing: normal;
  border-radius: .5rem;
  border: 0.1rem solid #f2f5f7;
  cursor: pointer;
  white-space: nowrap;
}
/* line 61, ../sass/modules/_elements.scss */
.button:hover {
  color: #fff;
  background-color: #00b9ff;
  border: 0.1rem solid #00b9ff;
}
/* line 67, ../sass/modules/_elements.scss */
.button__icon {
  line-height: 3rem;
  margin-right: 1.2rem;
  line-height: 0;
  fill: currentColor;
}
/* line 74, ../sass/modules/_elements.scss */
.button--white-blue {
  color: #00b9ff;
  border: 0.1rem solid #00b9ff;
}
/* line 79, ../sass/modules/_elements.scss */
.button--blue {
  background-color: #00b9ff;
  border: 0.1rem solid #00b9ff;
  color: #fff;
}
/* line 84, ../sass/modules/_elements.scss */
.button--blue:hover {
  background-color: #00a4df;
  border: 0.1rem solid #00a4df;
}
/* line 90, ../sass/modules/_elements.scss */
.button--green {
  background-color: #2ed06e;
  border: 0.1rem solid #2ed06e;
  color: #fff;
}
/* line 95, ../sass/modules/_elements.scss */
.button--green:hover {
  background-color: #28b862;
  border: 0.1rem solid #28b862;
}
/* line 101, ../sass/modules/_elements.scss */
.button--wide {
  width: 100%;
}

/* line 106, ../sass/modules/_elements.scss */
.link {
  color: #000;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  text-decoration: none;
}
/* line 113, ../sass/modules/_elements.scss */
.link:hover {
  color: #00a4df;
  outline: 0;
}
/* line 118, ../sass/modules/_elements.scss */
.link::after {
  display: inline-block;
  margin-left: .8rem;
  font-family: glyphicons halflings;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  color: #00b9ff;
  pointer-events: none;
  content: "\E080";
}
/* line 131, ../sass/modules/_elements.scss */
.link--blue {
  color: #00b9ff;
}
/* line 134, ../sass/modules/_elements.scss */
.link:hover::after, .link:focus::after, .link-container:hover .link::after, .link-container:focus .link::after {
  -webkit-transform: translateX(0.4rem);
  -ms-transform: translateX(0.4rem);
  -o-transform: translateX(0.4rem);
  transform: translateX(0.4rem);
}

/* line 147, ../sass/modules/_elements.scss */
.button-link {
  font-family: averta, Helvetica,Arial,sans-serif;
  background-color: transparent;
  color: #f2f5f7;
  border: none;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.8rem;
  text-align: center;
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  padding: 0;
}
/* line 163, ../sass/modules/_elements.scss */
.button-link--blue {
  color: #00b9ff;
}
/* line 167, ../sass/modules/_elements.scss */
.button-link--dotted {
  color: #d3d5d8;
  font-weight: 100;
}
/* line 171, ../sass/modules/_elements.scss */
.button-link--dotted:hover {
  color: #00b9ff;
}
/* line 176, ../sass/modules/_elements.scss */
.button-link__text--dotted {
  padding: .1rem;
  border-bottom: 0.1rem dotted #00b9ff;
}

/* line 182, ../sass/modules/_elements.scss */
.badge {
  display: inline-block;
  position: relative;
  min-width: 1.6rem;
  height: 2rem;
  padding: .6rem .8rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1em;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  background-color: #000;
  border-radius: 1rem;
}
/* line 197, ../sass/modules/_elements.scss */
.badge--green {
  background-color: #2ed06e;
}

/* line 202, ../sass/modules/_elements.scss */
.dot {
  color: #000;
  user-select: none;
}
/* line 205, ../sass/modules/_elements.scss */
.dot--green {
  color: #2ed06e;
}
/* line 208, ../sass/modules/_elements.scss */
.dot--blue {
  color: #00b9ff;
}

/* line 214, ../sass/modules/_elements.scss */
.icon {
  display: inline-flex;
  font-family: icons;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
  vertical-align: middle;
  fill: currentColor;
  cursor: pointer;
  speak: none;
}
/* line 228, ../sass/modules/_elements.scss */
.icon__arrow-down {
  vertical-align: top;
  font-size: 1.4rem;
  width: 1.2rem;
}
/* line 233, ../sass/modules/_elements.scss */
.icon__arrow-down:before {
  content: '\e902';
}
/* line 238, ../sass/modules/_elements.scss */
.icon__globe {
  vertical-align: top;
  font-size: 1.2rem;
  width: 1.4rem;
}
/* line 242, ../sass/modules/_elements.scss */
.icon__globe:before {
  content: "\e901";
}
/* line 247, ../sass/modules/_elements.scss */
.icon__close {
  font-size: 24px;
  color: #00b9ff;
  line-height: 3.2rem;
  vertical-align: top;
}
/* line 252, ../sass/modules/_elements.scss */
.icon__close:before {
  content: "\e900";
}
/* line 257, ../sass/modules/_elements.scss */
.icon__video-play {
  font-size: 3.2rem;
  line-height: 3.2rem;
  vertical-align: top;
}
/* line 261, ../sass/modules/_elements.scss */
.icon__video-play:before {
  content: "\e905";
}
/* line 266, ../sass/modules/_elements.scss */
.icon--blue {
  color: #00b9ff;
}

/* line 273, ../sass/modules/_elements.scss */
.flag {
  width: 2.4rem;
  height: 1.6rem;
  background-size: cover;
  background-color: transparent;
  -webkit-box-shadow: 0 0 0.1rem 0 rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 0.1rem 0 rgba(0, 0, 0, 0.6);
}
/* line 281, ../sass/modules/_elements.scss */
.flag--eu {
  background-image: url(./../images/flags/eu.svg);
}
/* line 285, ../sass/modules/_elements.scss */
.flag--ua {
  background-image: url(./../images/flags/ua.svg);
}

/* line 2, ../sass/modules/_slider.scss */
.bx-wrapper {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  background-color: transparent;
  z-index: 2;
}
/* line 10, ../sass/modules/_slider.scss */
.bx-wrapper img {
  width: 60rem;
  height: 52rem;
}
/* line 16, ../sass/modules/_slider.scss */
.bx-prev, .bx-next {
  visibility: hidden;
}
/* line 20, ../sass/modules/_slider.scss */
.bx-pager, .bx-default-pager {
  bottom: -7rem !important;
}
/* line 24, ../sass/modules/_slider.scss */
.bx-pager-link {
  width: 1.6rem !important;
  height: 1.6rem !important;
  background-color: #d3d5d8 !important;
  border-radius: 50% !important;
  margin-right: 1.2rem !important;
}
/* line 31, ../sass/modules/_slider.scss */
.bx-pager-link.active, .bx-pager-link:hover {
  background-color: #253655 !important;
}
