/* line 5, C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: averta;
  font-weight: 500;
  src: url(./../fonts/TW-Averta-Regular.eot);
  src: url(./../fonts/TW-Averta-Regular.eot?#iefix) format("embedded-opentype"), url(./../fonts/TW-Averta-Regular.woff2) format("woff2"), url(./../fonts/TW-Averta-Regular.woff) format("woff"), url(./../fonts/TW-Averta-Regular.ttf) format("truetype");
}
@font-face {
  font-family: averta;
  font-weight: 600;
  src: url(./../fonts/TW-Averta-Semibold.eot);
  src: url(./../fonts/TW-Averta-Semibold.eot?#iefix) format("embedded-opentype"), url(./../fonts/TW-Averta-Semibold.woff2) format("woff2"), url(./../fonts/TW-Averta-Semibold.woff) format("woff"), url(./../fonts/TW-Averta-Semibold.ttf) format("truetype");
}
@font-face {
  font-family: averta;
  font-weight: 800;
  src: url(./../fonts/TW-Averta-Bold.eot);
  src: url(./../fonts/TW-Averta-Bold.eot?#iefix) format("embedded-opentype"), url(./../fonts/TW-Averta-Bold.woff2) format("woff2"), url(./../fonts/TW-Averta-Bold.woff) format("woff"), url(./../fonts/TW-Averta-Bold.ttf) format("truetype");
}
@font-face {
  font-family: glyphicons halflings;
  src: url(./../fonts/glyphicons-halflings-regular.eot);
  src: url(./../fonts/glyphicons-halflings-regular.eot?#iefix) format("embedded-opentype"), url(./../fonts/glyphicons-halflings-regular.woff2) format("woff2"), url(./../fonts/glyphicons-halflings-regular.woff) format("woff"), url(./../fonts/glyphicons-halflings-regular.ttf) format("truetype"), url(./../images/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format("svg");
}
@font-face {
  font-family: icons;
  src: url("./../fonts/icons.eot?4ilf8z");
  src: url("./../fonts/icons.eot?4ilf8z#iefix") format("embedded-opentype"), url("./../fonts/icons.ttf?4ilf8z") format("truetype"), url("./../fonts/icons.woff?4ilf8z") format("woff"), url("./../fonts/icons.svg?4ilf8z#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/* line 1, ../sass/modules/main.scss */
.main {
  position: relative;
  background-image: url(./../images/bg-blue.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
}

/* line 1, ../sass/modules/banner.scss */
.banner {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  background-image: url(./../images/bg-white.svg), url(./../images/bg-grey.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: top left, top right;
  background-size: contain, contain;
}
/* line 9, ../sass/modules/banner.scss */
.banner__header {
  display: flex;
  justify-content: space-between;
}
/* line 14, ../sass/modules/banner.scss */
.banner__content {
  padding-top: 1.2rem;
}
/* line 18, ../sass/modules/banner.scss */
.banner__links {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 992px) {
  /* line 30, ../sass/modules/banner.scss */
  .banner__content {
    background-image: url(./../images/banner_1.png), url(./../images/banner_2.png);
    background-size: 134px, auto 85%;
    background-repeat: no-repeat, no-repeat;
    background-origin: content-box, content-box;
    background-position: 82% bottom, right top;
  }
}
@media screen and (max-width: 992px) {
  /* line 42, ../sass/modules/banner.scss */
  .banner__content {
    background-image: none;
  }
}
@media screen and (max-width: 768px) {
  /* line 49, ../sass/modules/banner.scss */
  .banner__content {
    background-image: none;
  }
}
/* line 2, ../sass/modules/buttons.scss */
.link-button {
  display: block;
  padding: 1.2rem 2.4rem 1rem;
  border-radius: .5rem;
  border: 0.1rem solid #000;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  color: #000;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
}
/* line 15, ../sass/modules/buttons.scss */
.link-button:hover {
  color: #fff;
  background-color: #00b9ff;
  border: 0.1rem solid #00b9ff;
}
/* line 21, ../sass/modules/buttons.scss */
.link-button--white-blue {
  color: #00b9ff;
  border: 0.1rem solid #00b9ff;
}
/* line 26, ../sass/modules/buttons.scss */
.link-button--white-grey {
  color: #828691;
  border: 0.1rem solid #828691;
}
/* line 31, ../sass/modules/buttons.scss */
.link-button--small {
  border-radius: .2rem;
  font-size: 1.4rem;
  padding: .4rem 1.6rem .2rem;
}

/* line 38, ../sass/modules/buttons.scss */
.button {
  display: inline-flex;
  align-items: center;
  position: relative;
  min-height: 4.8rem;
  padding: .8rem 2.4rem;
  font-family: averta, avenir w02, avenir, Helvetica,Arial,sans-serif;
  background-color: transparent;
  color: #f2f5f7;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  text-align: center;
  letter-spacing: normal;
  border-radius: .5rem;
  border: 0.1rem solid #f2f5f7;
  cursor: pointer;
  white-space: nowrap;
}
/* line 57, ../sass/modules/buttons.scss */
.button:hover {
  color: #fff;
  background-color: #00b9ff;
  border: 0.1rem solid #00b9ff;
}
/* line 63, ../sass/modules/buttons.scss */
.button__icon {
  line-height: 3rem;
  margin-right: 1.2rem;
  line-height: 0;
  fill: currentColor;
}
/* line 70, ../sass/modules/buttons.scss */
.button--white-blue {
  color: #00b9ff;
  border: 0.1rem solid #00b9ff;
}

/* line 1, ../sass/modules/common.scss */
html {
  font-family: averta, avenir w02, avenir, Helvetica,Arial,sans-serif;
  color: #000;
  font-size: 10px;
  line-height: 2.5rem;
  font-weight: 500;
  letter-spacing: .016rem;
}

/* line 10, ../sass/modules/common.scss */
body {
  margin: 0;
}

/* line 14, ../sass/modules/common.scss */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* line 20, ../sass/modules/common.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* line 24, ../sass/modules/common.scss */
p {
  padding: 0;
  margin: 0;
}

/* line 29, ../sass/modules/common.scss */
span {
  padding: 0;
  margin: 0;
}

/* line 35, ../sass/modules/common.scss */
a {
  font-weight: 500;
  padding: 0;
  margin: 0;
}

/* line 41, ../sass/modules/common.scss */
img {
  max-width: 100%;
  max-height: 100%;
}

/* line 46, ../sass/modules/common.scss */
.m-r-8 {
  margin-right: 0.8rem;
}

/* line 50, ../sass/modules/common.scss */
.m-r-10 {
  margin-right: 1rem;
}

/* line 54, ../sass/modules/common.scss */
.m-r-16 {
  margin-right: 1.6rem;
}

/* line 57, ../sass/modules/common.scss */
.m-l-4 {
  margin-left: 0.4rem;
}

/* line 61, ../sass/modules/common.scss */
.m-l-8 {
  margin-left: 0.8rem;
}

/* line 65, ../sass/modules/common.scss */
.m-b-16 {
  margin-bottom: 1.6rem;
}

/* line 69, ../sass/modules/common.scss */
.m-b-18 {
  margin-bottom: 1.8rem;
}

/* line 73, ../sass/modules/common.scss */
.m-t-34 {
  margin-top: 3.4rem;
}

/* line 77, ../sass/modules/common.scss */
.p-b-16 {
  padding-bottom: 1.6rem;
}

/* line 81, ../sass/modules/common.scss */
.p-b-24 {
  padding-bottom: 2.4rem;
}

/* line 85, ../sass/modules/common.scss */
.p-b-35 {
  padding-bottom: 3.5rem;
}

/* line 89, ../sass/modules/common.scss */
.p-r-3 {
  padding-right: .3rem;
}

/* line 93, ../sass/modules/common.scss */
.p-r-5 {
  padding-right: .5rem;
}

/* line 97, ../sass/modules/common.scss */
.p-r-8 {
  padding-right: .8rem !important;
}

/* line 101, ../sass/modules/common.scss */
.p-r-40 {
  padding-right: 4rem;
}

/* line 106, ../sass/modules/common.scss */
.p-t-15 {
  padding-top: 1.5rem;
}

/* line 110, ../sass/modules/common.scss */
.p-t-32 {
  padding-top: 3.2rem;
}

/* line 1, ../sass/modules/content.scss */
.content {
  margin: 0 auto;
  max-width: 1100px;
}
/* line 5, ../sass/modules/content.scss */
.content__link {
  color: #00b9ea;
}
/* line 8, ../sass/modules/content.scss */
.content__link:hover {
  color: #00a4d5;
}
/* line 12, ../sass/modules/content.scss */
.content__link--underlined {
  text-decoration: underline;
  font-weight: 600;
}
/* line 18, ../sass/modules/content.scss */
.content__text {
  color: #f2f5f7;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: .035rem;
}
/* line 24, ../sass/modules/content.scss */
.content__text--blue {
  color: #00b9ff;
}
/* line 28, ../sass/modules/content.scss */
.content__text--grey {
  color: #5d7079;
}
/* line 32, ../sass/modules/content.scss */
.content__text--dark-blue {
  color: #2e4369;
}
/* line 37, ../sass/modules/content.scss */
.content__title {
  text-align: left;
  color: #fff;
  font-weight: 800;
}
/* line 42, ../sass/modules/content.scss */
.content__title--h1 {
  font-size: 4.2rem;
  line-height: 5.6rem;
}
/* line 47, ../sass/modules/content.scss */
.content__title--h2 {
  font-size: 2.8rem;
  color: #2e4369;
  line-height: 3.2rem;
}
/* line 53, ../sass/modules/content.scss */
.content__title--h4 {
  font-size: 1.8rem;
}
/* line 58, ../sass/modules/content.scss */
.content__col {
  width: 100%;
}
/* line 61, ../sass/modules/content.scss */
.content__col--2 {
  width: 50%;
  padding-right: 4.4rem;
}

@media screen and (max-width: 992px) {
  /* line 74, ../sass/modules/content.scss */
  .content {
    max-width: 992px;
  }
}
@media screen and (max-width: 768px) {
  /* line 80, ../sass/modules/content.scss */
  .content {
    max-width: 768px;
  }
}
/* line 1, ../sass/modules/menu.scss */
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: end;
  font-size: 1.4rem;
  letter-spacing: normal;
}
/* line 10, ../sass/modules/menu.scss */
.menu__item {
  padding: .9rem 1rem .7rem 1rem;
  margin-top: 1.3rem;
  margin-bottom: .8rem;
  color: #fff;
  line-height: 4rem;
  cursor: pointer;
}
/* line 18, ../sass/modules/menu.scss */
.menu__item:hover {
  color: #00b9ff;
}

/* line 1, ../sass/modules/navbar.scss */
.navbar {
  height: 5.6rem;
  display: flex;
  justify-content: end;
  font-weight: 600;
  color: #fff;
  align-items: center;
}
/* line 10, ../sass/modules/navbar.scss */
.navbar__item--left {
  margin-right: auto;
}
/* line 15, ../sass/modules/navbar.scss */
.navbar__button {
  margin: 1.3rem 0 .8rem 1rem;
}

/* line 20, ../sass/modules/navbar.scss */
.logo {
  display: flex;
  align-items: center;
  height: 100%;
}
/* line 25, ../sass/modules/navbar.scss */
.logo__link {
  background-image: url(./../images/logo.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: transparent;
  font-size: 1.8rem;
  height: 2.4rem;
  line-height: 4rem;
  width: 11.8rem;
  padding: .8rem 1.6rem .5rem;
  margin-bottom: .8rem;
}

/* line 1, ../sass/modules/top-notification.scss */
.top-notification {
  width: 100%;
  padding: 1.6rem 3.2rem;
  font-size: 1.4rem;
  color: #f2f5f7;
  background-color: #253655;
}
/* line 8, ../sass/modules/top-notification.scss */
.top-notification__content {
  padding: 0;
  line-height: 2.4rem;
}
/* line 12, ../sass/modules/top-notification.scss */
.top-notification__content--bold {
  letter-spacing: normal;
  font-weight: 600;
}

/* line 2, ../sass/modules/transfer.scss */
.transfer__container {
  padding-top: 8rem;
}

/* line 1, ../sass/modules/small-elements.scss */
.badge {
  display: inline-block;
  position: relative;
  min-width: 1.6rem;
  height: 2rem;
  padding: .6rem .8rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1em;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  background-color: #000;
  border-radius: 1rem;
}
/* line 16, ../sass/modules/small-elements.scss */
.badge--green {
  background-color: #2ed06e;
}

/* line 21, ../sass/modules/small-elements.scss */
.dot {
  color: #000;
  user-select: none;
}
/* line 24, ../sass/modules/small-elements.scss */
.dot--green {
  color: #2ed06e;
}
/* line 27, ../sass/modules/small-elements.scss */
.dot--blue {
  color: #00b9ff;
}

/* line 33, ../sass/modules/small-elements.scss */
.icon {
  display: inline;
  font-family: icons;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
  vertical-align: middle;
  fill: currentColor;
  cursor: pointer;
  speak: none;
}
/* line 48, ../sass/modules/small-elements.scss */
.icon__arrow-down {
  vertical-align: top;
  font-size: 1.2rem;
  width: 1.6rem;
}
/* line 53, ../sass/modules/small-elements.scss */
.icon__arrow-down:before {
  content: '\f078';
}
/* line 58, ../sass/modules/small-elements.scss */
.icon__close {
  font-size: 24px;
  color: #00b9ff;
}
/* line 62, ../sass/modules/small-elements.scss */
.icon__close:before {
  content: "\e900";
}
/* line 67, ../sass/modules/small-elements.scss */
.icon__globe {
  vertical-align: top;
  font-size: 1.2rem;
  width: 1.6rem;
}
/* line 71, ../sass/modules/small-elements.scss */
.icon__globe:before {
  content: "\e901";
}
