$white: #fff;
$black: #000;

$green: #2ed06e;

$blue: #00b9ff;    // main blue
$blue1: #00b9ea;   // link
$blue2: #00a4d5;   // hovered link

$darkBlue: #253655;
$darkBlue2: #2e4369; // text

$grey: #5d7079;    // text
$grey2: #828691;  // button
$lightGrey: #f2f5f7;


$transparent: rgba(0, 0, 0, 0);

// breakpoints
$breakPointXs: 768px;
$breakPointSm: 992px;
$breakPointMd: 1200px;
