/* line 2, ../../sass/modules/transfer.scss */
.transfer__img {
  display: baseline;
  height: 70px;
  vertical-align: middle;
}
/* line 10, ../../sass/modules/transfer.scss */
.transfer__img {
  display: baseline;
  height: 70px;
}
