html {
    font-family: averta, Helvetica,Arial,sans-serif;
    color: $black;
    font-size: 10px;
    line-height: 2.5rem;
    font-weight: 500;
    letter-spacing: .016rem;
}

body {  
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

span {
    padding: 0;
    margin: 0;
}


a {
    font-weight: 500;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/*** hiding elements from a view ***/
.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*** margin-top ***/

.m-t-8 {
    margin-top: .8rem !important;
}

.m-t-12 {
    margin-top: 1.2rem !important;
}

.m-t-34 {
    margin-top: 3.4rem;
}

/*** margin-right ***/
.m-r-5 {
    margin-right: 0.5rem;
}

.m-r-10 {
    margin-right: 1rem;
}

.m-r-12 {
    margin-right: 1.2rem !important;
}

.m-r-16 {
    margin-right: 1.6rem;
}

/*** margin-bottom ***/
.m-b-12 {
    margin-bottom: 1.2rem;
}

.m-b-16 {
    margin-bottom: 1.6rem;
}

.m-b-18 {
    margin-bottom: 1.8rem;
}

.m-b-80 {
    margin-bottom: 8rem;
}


/*** margin-left ***/
.m-l-2 {
    margin-left: 0.2rem;
}

.m-l-8 {
    margin-left: 0.8rem;
}

/*** padding-top ***/
.p-t-8 {
    padding-top: .8rem !important;
}

.p-t-12 {
    padding-top: 1.2rem !important;
}


.p-t-15 {
    padding-top: 1.5rem;
}

.p-t-20 {
    padding-top: 2rem;
}

.p-t-24 {
    padding-top: 2.4rem;
}

.p-t-64 {
    padding-top: 6.4rem;
}

.p-t-72 {
    padding-top: 7.2rem;
}

.p-t-80 {
    padding-top: 8rem;
}



/*** padding-right ***/

.p-r-3 {
    padding-right: .3rem;
}

.p-r-5 {
    padding-right: .5rem;
}

.p-r-8 {
    padding-right: .8rem !important;
}

.p-r-12 {
    padding-right: 1.2rem !important;
}

.p-r-18 {
    padding-right: 1.8rem;
}

.p-r-44 {
    padding-right: 4.4rem;
}

.p-r-48 {
    padding-right: 4.8rem;
}

/*** padding-bottom ***/

.p-b-12 {
    padding-bottom: 1.2rem;
}

.p-b-16 {
    padding-bottom: 1.6rem;
}

.p-b-20 {
    padding-bottom: 2rem;
}

.p-b-24 {
    padding-bottom: 2.4rem;
}

.p-b-32 {
    padding-bottom: 3.2rem;
}

.p-b-40 {
    padding-bottom: 4rem;
}

.p-b-48 {
    padding-bottom: 4.8rem;
}

.p-b-100 {
    padding-bottom: 10rem;
}

/*** padding-left ***/
.p-l-3 {
    padding-left: .3rem;
}

.p-l-8 {
    padding-left: .8rem;
}

.p-l-12 {
    padding-left: 1.2rem;
}

.p-l-24 {
    padding-left: 2.4rem;
}

.p-l-64 {
    padding-left: 6.4rem;
}


/** imgs ***/
.img {
    vertical-align: middle;
}

.border-separator {
    border-left: .2rem solid $grey5;
}

.blue-text {
    color: $blue;
}