.content {
    margin: 0 auto;
    
    &__link {
        color: $blue1;
        letter-spacing: normal;

        &:hover {
            color: $blue2;
        }
    
        &--underlined {
            text-decoration: underline;
            font-weight: $fontWeight600;
        }
    }

    &__text {
        color: $lightGrey;
        font-size: 1.6rem;
        line-height: 2.4rem;

        &--bold {
            font-weight: $fontWeight600;
        }

        &--blue {
            color: $blue;
        }

        &--grey {
            color: $grey;
        }
    
        &--dark-blue {
            color: $darkBlue2;
        }

        &--white {
            color: $white
        }
    }

    &__title {
        color: $white;
        font-weight: $fontWeight800;
        letter-spacing: normal;

        &--h1 {
            font-size: 4.2rem;
            line-height: 5.6rem;
        }

        &--h2 {
            font-size: 2.8rem;   
            color: $darkBlue2;
            line-height: 3.2rem;
        }

        &--h4 {
            font-size: 1.8rem;
            font-weight: $fontWeight600;
            letter-spacing: normal;
            line-height: 2.4rem;
        }
    }

    &__row {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    &__col {

        &--25 {
            width: 25%;
        }

        &--30 {
            width: 30%;
        }

        &--40 {
            width: 40%;
        }

        &--50 {
            width: 50%;
        }

        &--65 {
            width: 65%;
        }

        &--80 {
            width: 80%;
        }

        &--100 {
            width: 100%;
        }
    }
}



// Responsive
@media screen and (min-width: $breakPointXL) {
    .content {
        max-width: 1164px;
        &__col {
            &--50 {
                width: 50%;
            }
        }
    }
}

@media screen and (max-width: $breakPointL) {
    .content {
        max-width: 1164px;
        &__col {
            &--50 {
                width: 50%;
            }
        }
    }
}

@media screen and (max-width: $breakPointM) {
    .content {
        max-width: 90vw;

        &__title {
            color: $white;
            font-weight: $fontWeight800;
            letter-spacing: normal;

            &--h1 {
                font-size: 2.8rem;
                line-height: 3.2rem;
            }

            &--h2 {
                font-size: 1.8rem;   
                color: $darkBlue2;
                line-height: 2.4rem;
            }

            &--h4 {
                font-size: 1.6rem;
                font-weight: $fontWeight600;
                letter-spacing: normal;
            }
        }

        &__row {
            flex-direction: column;
        }
        &__col {

            &--25 {
                width: 100%;
            }
            
            &--30 {
                width: 100%;
            }

            &--50 {
                width: 100%;
            }

            &--65 {
                width: 100%;
            }
        }
    }

}