.top-notification {
    width: 100%;
    padding: 1.6rem 3.2rem;
    font-size: 1.4rem;  
    color: $lightGrey;
    background-color: $darkBlue;
    
    &__content {
        padding: 0;
        line-height: 2.4rem;

        &--bold{
            letter-spacing: normal;
            font-weight: $fontWeight600;
        }
    } 
}

.exchange-rate {
    position: relative;

    &__container {
        position: absolute;
        top: 1rem;
        display: block;
        width: 100%;
    }

    &__widget {
        background-color: $white;
        border-radius: .3rem;
        box-shadow: 0 1rem 3rem 0 $shadow2;
        max-width: 912px;
        margin: 0 auto;
        padding: 2.4rem;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__title {
        color: $darkBlue2;
        letter-spacing: normal;
        line-height: 3rem;
        font-size: 2.2rem;
        font-weight: $fontWeight600;
    }

    &__desc {
        font-size: 1.4rem;
        line-height: 2.4rem;
        font-weight: $fontWeight600;
        color: $grey;
    }

    &__icon {
        &--pre {
            width: 3rem;
            height: .4rem;
            margin-right: .9rem;
            margin-bottom: .3rem;
        }
        &--after {
            margin-left: .8rem;
            width: 1.3rem;
            height: 1.3rem;
        }
    }

    &__graph {
        margin-bottom: 1.6rem;
    }

    &__button {
        margin: 0 auto;
    }

    &__footer {
        max-width: 912px;
        padding: 5.5rem 1.2rem 10rem 0rem;
        margin: 0 auto;
    }
}

@media screen and (max-width: $breakPointM) {
    .exchange-rate {
        text-align: center;

        &__row {
            flex-direction: column;
        }

         &__footer {
            padding-bottom: 1rem;
         }
    }
}

.instructions {
    padding: 9.2rem 0 7.2rem;
    background-image: url(./../images/bg_grey_instruction.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;

    &__title {
        width: 95%;
        text-align: center;
        margin-bottom: 4.8rem;
        margin-right: 2.4rem;
        color: $darkBlue2;
    }

    &__blocks {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__block {
        padding: 2.4rem 3.2rem 4.8rem;
        margin: 1.2rem 2.4rem 1.2rem 0;
        border: none;
        border-radius: .3rem;
        box-shadow: 0 0 3rem 0 $shadow3;
        background-size: 100%;
        background-color: $white;
    }
}

.block {
    display: block;
    min-width: 35rem;
    width: 35rem;

    &__img {
        width: 100%;
        margin-bottom: 2.4rem;
    }

    &__title {
        color: $darkBlue2;
        font-weight: $fontWeight800;
        text-align: center;
    }

    &__text {
        text-align: center;
        padding-top: .8rem;
    }
}

.reviews {
    padding: 9.2rem 0 7.2rem;
    background-image: url(./../images/bg_grey_instruction.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    position: relative;

    &__title {
        width: 100%;
        padding-bottom: 5rem;
        color: $darkBlue2;
        text-align: center;
    }

    &__photo {
        width: 60rem;
        height: 52rem;
    }

    &__card {
        position: relative;
        width: 100%;
    }

    &__pages {
        width: 100%;
        height: 3rem;
        display: flex;
        justify-content: center;
        margin-top: 6rem;
    }

    &__page{
        list-style-type: none;
        display: inline-block;
        position: relative;
        background: 0 0;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        width: 1.6rem;
        height: 1.6rem;
        background-color: $lightGrey2;
        border-radius: 50%;
        display: block;
        margin-right: 1.2rem;

        &--active {
            background-color: $darkBlue;
        }
    }
}

.card {

    &__wrapper {
        max-width: 598px;
        margin: 0;
        border: 0;
        top: 5rem;
        left: auto;
        right: 0;
        position: absolute;
    }

    &__decor-wrapper {
        max-width: 598px;
        position: relative;
        width: 100%;
        height: 100%;
    }

    &__content {
        width: 100%;
        background-color: $darkBlue;
        padding: 6.4rem;
        z-index: 10;
    }

    &__text {
        color: $white;
    }

    &__address {
        color: $white;
        font-size: 1.4rem;
        font-weight: $fontWeight600;
        line-height: 2.4rem;
        padding-top: 1.2rem;
    }

    &__button {
        margin-top: 1.2rem;
    }

    &__decor {
        position: absolute;
        border-radius: 50%;
        left: 25%;
        bottom: -7rem;
        z-index: -1;
        width: 16rem !important;
        height: 16rem !important;
    }
}

.support {
    padding: 9.6rem 0;
    &__content {
        display: flex;
        flex-direction: column;
        padding-right: 11rem;
    }

    &__title {
        color: $darkBlue2;
    }

    &__text {
        padding-top: 1.6rem;
        padding-bottom: 2.4rem;
    }

    &__button {
        width: fit-content;
        padding: 1rem 2.4rem;    
    }
}

@media screen and (max-width: $breakPointM) {
    .support {
        padding: 1rem 0;
        &__content {
            padding-right: 0;
        }
    }
}

.illustration {
    width: 100%;
    position: relative;

    &__img1 {
        width: 70%;
        max-width: 68rem;
        position: relative;
        z-index: 1;
    }

    &__img2 {
        width: 50%;
        max-width: 39rem;
        margin-top: -15%;
        left: 30%;
        position: relative;
        z-index: 2;
    }

    &__img3 {
        position: absolute;
        left: 20%;
        bottom: 13%;
        color: $orange;
        width: 15rem;
        height: 15rem;
    }
}

.map {
    position: relative;
    background-image: url('./../images/bg-blue-map.svg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 9.6rem 0;

    &__title {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__subtitle {
        width:50%;
    }

    &__text {
        width: 78%;
        padding-top: 2rem;
    }

    &__countries {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 3.2rem;
    }

    &__country {
        position: relative;
        padding-left: 2.4rem;
        margin-right: 2.4rem;
        margin-bottom: 1.5rem;
        min-height: 4.8rem;
        width: 25.5rem;
        display: flex;
        align-items: center;
        text-decoration: none;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        background-color: $darkBlue3;
        border: .1rem solid $transparent;
        border-radius: .3rem;
        cursor: pointer;
        user-select: none;

        &-link {
            font-size: 1.6rem;
            font-weight: $fontWeight600;
            line-height: 2.4rem;
            margin-left: 2.4rem;
            text-decoration: none;
            color: $white;

            &:hover {
                color: $blue;
            }
        }

        &:after {
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            top: 6.4rem;
            height: 4.8rem;
            border-radius: .3rem;
            background: linear-gradient(to bottom, $darkBlue3, $darkBlue4);
            content: '';
        }
    }

    &__footer {
        padding-top: 3.2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.mobile-app {
    padding: 10rem 0;

    &__content {
        display: flex;
        flex-direction: column;
        padding-right: 2rem;
    }

    &__title {
        color: $darkBlue2;
    }

    &__button {
        width: fit-content;
        padding: 1rem 2.4rem;    
    }

    &__img {
        margin-top: 5rem;;
        margin-left: 20rem;
        width: 36rem;
        height: 42rem;
    }

    &__app-info {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding-right: 2.5rem;
    }

    &__app-img {
        height: 5.6rem;
        width: auto;
    }

    &__google-rating, &__apple-rating {
        height: 3.6rem;
        width: auto;
        padding-top: 2rem;
    }
}

.facilities {
    background-color: $darkBlue;

    &__content {
        display: flex;
        flex-direction: column;
        padding: 10rem 2rem 10rem 0;
    }

    &__list {
        list-style-type: none;
    }

    &__item {
        color: $white;
        font-size: 1.6rem;
        font-weight: $fontWeight700;
        line-height: 2.4rem;
        padding-top: 1.8rem;
    }
}

.footer {
    padding-top:16.5rem;
    padding-bottom: 9rem;
    background-color: $darkBlue3;
    font-size: 1.4rem;
    color: $lightGrey;
    line-height: 2.4rem;

    &__title{
        padding-bottom: 1.6rem;
        font-weight: $fontWeight600;
    }

    &__link {
        font-size: 1.4rem;
        color: $lightGrey;
        font-weight: $fontWeight400;
        &:hover {
            color: $grey4;
        }
    }
    &__follow-us {
        display: flex;
        flex-direction: row;
        justify-content: start;
    }

    &__icon {
        width: 2rem;
        height: 2rem;
        color: $lightGrey;
    }

    &__text {
        width: 65%;
        text-align: center;
        font-size: 1.2rem;
    }

    &__tiny-link {
        font-size: 1.2rem;
        color: $lightGrey;
        &:hover {
            color: $grey4;
        }
    }
}