.banner { 
    padding: 3rem 0;
    background-image: url(./../images/bg-white.svg), url(./../images/bg-grey.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, top right;
    background-size: contain, contain;

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        padding-top: 0;
        width: 100%; 
    }

    &__title {
        width: 70%;
    }

    &__text {
        width: 70%;
    }

    &__links {
        display: flex;
        justify-content: flex-start;
        margin: 0; 
        padding: 0; 
    }
}


// Responsive
@media screen and (min-width: $breakPointM) {
    .banner {
        &__content {
            background-image: url(./../images/banner_1.png), url(./../images/banner_2.png);
            background-size: 134px, auto 85%;
            background-repeat: no-repeat, no-repeat;
            background-origin: content-box, content-box;
            background-position: 82% bottom, right top;
        }
    }
}

@media screen and (max-width: $breakPointM) {
    .banner {
        &__content {
             background-image: none;
        }
    }
}
