html {
    font-family: averta, Helvetica,Arial,sans-serif;
    color: $black;
    font-size: 10px;
    line-height: 2.5rem;
    font-weight: 500;
    letter-spacing: .016rem;
}

body {  
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

span {
    padding: 0;
    margin: 0;
}


a {
    font-weight: 500;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.m-r-5 {
    margin-right: 0.5rem;
}

.m-r-10 {
    margin-right: 1rem;
}

.m-r-16 {
    margin-right: 1.6rem;
}
.m-l-4 {
    margin-left: 0.2rem;
}

.m-l-8 {
    margin-left: 0.8rem;
}

.m-b-16 {
    margin-bottom: 1.6rem;
}

.m-b-18 {
    margin-bottom: 1.8rem;
}

.m-t-34 {
    margin-top: 3.4rem;
}

.p-b-16 {
    padding-bottom: 1.6rem;
}

.p-b-24 {
    padding-bottom: 2.4rem;
}

.p-b-32 {
    padding-bottom: 3.2rem;
}

.p-r-3 {
    padding-right: .3rem;
}

.p-r-5 {
    padding-right: .5rem;
}

.p-r-8 {
    padding-right: .8rem !important;
}

.p-r-48 {
    padding-right: 4.8rem;
}


.p-t-15 {
    padding-top: 1.5rem;
}

.p-t-24 {
    padding-top: 2.4rem;
}

