.content {
    margin: 0 auto;
    
    &__link {
        color: $blue1;
        letter-spacing: normal;

        &:hover {
            color: $blue2;
        }
    
        &--underlined {
            text-decoration: underline;
            font-weight: 600;
        }
    }

    &__text {
        color: $lightGrey;
        font-size: 1.6rem;
        line-height: 2.4rem;

        &--blue {
            color: $blue;
        }

        &--grey {
            color: $grey;
        }
    
        &--dark-blue {
            color: $darkBlue2;
        }
    }

    &__title {
        text-align: left;
        color: $white;
        font-weight: 800;
        letter-spacing: normal;

        &--h1 {
            font-size: 4.2rem;
            line-height: 5.6rem;
        }

        &--h2 {
            font-size: 2.8rem;   
            color: $darkBlue2;
            line-height: 3.2rem;
        }

        &--h4 {
            font-size: 1.8rem;
            font-weight: 600;
            letter-spacing: normal;
            line-height: 2.4rem;
        }
    }

    &__row{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    &__col {
        width: 100%;

        &--1{
            width: 100%;
        }

        &--2{
            width: 50%;
        }
    }
}



// Responsive
@media screen and (min-width: $breakPointXL) {
    .content {
        max-width: 1100px;
    }

    .xl {
        &--hidden {
            display: none;
        }
    }
}

@media screen and (max-width: $breakPointL) {
    .content {
        max-width: 1100px;
    }

    .l {
        &--hidden {
            display: none;
        }
    }
}

@media screen and (max-width: $breakPointM) {
    .content {
        max-width: $breakPointS;
    }

    .m {
        &--hidden {
            display: none;
        }
    }
}

@media screen and (max-width: $breakPointS) {
    .content {
        max-width: $breakPointXs;
    }

    .s {
        &--hidden {
            display: none;
        }
    }
}


@media screen and (max-width: $breakPointXs) {
    .xs {
        &--hidden {
            display: none;
        }
    }
}