.content {
    padding: 0px 32px;
    margin: 0 auto;
    max-width:1100px
}

.content-link {
    color: #00b9ea;

    &:hover {
        color: #00a4d5;
    }
    
    &--decorated {
        text-decoration: underline;
        font-weight: 600;
    }
}

.content-text {
    color: $greyText;
    font-size: 16px;
    &--blue {
        color: $blueText;
    }
}

.content-title{
    text-align: left;
    color: #fff;

    &__h1 {
        font-size: 42px;
        line-height: $h1LineHeight;
    }

    &__h2 {
        font-size: 28px; 
        font-weight: 600;   
    }

    &__h4 {
        font-size: 18px;
    }

    &--dark-blue {
        color: $darkBlueText;
    }
}
