.content {
    padding: 0px 32px;
    margin: 0 auto;
    max-width:1100px
}

.content-link {
    color: $blueLink;

    &:hover {
        color: $blueLinkHovered;
    }
    
    &--decorated {
        text-decoration: underline;
        font-weight: 600;
    }
}

.content-text {
    color: $greyText;
    font-size: 16px;

    &--blue {
        color: $blueText;
    }
    
    &--dark-blue {
        color: $darkBlueText;
    }
}

.content-title {
    text-align: left;
    color: $white;

    &__h1 {
        font-size: 42px;
        line-height: $h1LineHeight;
    }

    &__h2 {
        font-size: 28px; 
        font-weight: 800;  
        color: $darkBlueText; 
    }

    &__h4 {
        font-size: 18px;
    }
}

// Responsive
// @media screen and (min-width: $breakPointSm) { }

@media screen and (max-width: $breakPointSm) {
    .content {
        max-width: $breakPointSm;
    }
}

@media screen and (max-width: $breakPointXs) {
    .content {
        max-width: $breakPointXs;
    }
}