.icon {
    display: inline;
    font-family: icons;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    fill: currentColor;
    cursor: pointer;
    speak: none;
    
    &__arrow-down {
        vertical-align: top;

        &:before {
            content: '\f078';
        }
    }

    &__close {
        font-size: 24px;
        color: $blue;

        &:before {
            content: "\e900";
        }
    }

    &__globe {
        vertical-align: top;
        font-size: 13px;
        padding-top: 4px;
        &:before {
            content: "\e901";
        }  
    }
}



