.badge {
    display: inline-block;
    position: relative;
    min-width: 1.6rem;
    height: 2rem;
    padding: .6rem .8rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1em;
    color: $white;
    text-align: center;
    vertical-align: middle;
    background-color: $black;
    border-radius: 1rem;

    &--green {
        background-color: $green;
    }
}

.dot {
    color: $black;
    user-select: none;
    &--green {
        color:$green;
    }
    &--blue {
        color:$blue;
    }

}

.icon {
    display: inline-flex;
    font-family: icons;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
    vertical-align: middle;
    fill: currentColor;
    cursor: pointer;
    speak: none;
    
    &__arrow-down {
        vertical-align: top;
        font-size: 1.4rem;
        width: 1.2rem;

        &:before {
            content: '\e902';
        }
    }

    &__globe {
        vertical-align: top;
        font-size: 1.2rem;
        width: 1.4rem;
        &:before {
            content: "\e901";
        }  
    }

     &__close {
        font-size: 24px;
        color: $blue;
        line-height: 3.2rem;
        vertical-align: top;
        &:before {
            content: "\e900";
        }
    }

    &__video-play {
        font-size: 3.2rem;
        line-height: 3.2rem;
        vertical-align: top;
        &:before {
            content: "\e905";
        }
    }

    &--blue {
        color: $blue;
    }
}



.flag {
    width: 2.4rem;
    height: 1.6rem;
    background-size: cover;
    background-color: $transparent;
    -webkit-box-shadow: 0 0 .1rem 0 $shadow;
    box-shadow: 0 0 .1rem 0 $shadow;

    &--eu {
        background-image: url(./../images/flags/eu.svg);
    }

    &--ua {
        background-image: url(./../images/flags/ua.svg);
    }
}