.top-notification {
    width: 100%;
    padding: 1.6rem 3.2rem;
    font-size: 1.4rem;  
    color: $lightGrey;
    background-color: $darkBlue;
    
    &__content {
        padding: 0;
        line-height: 2.4rem;

        &--bold{
            letter-spacing: normal;
            font-weight: 600;
        }
    } 

}



