.transfer {
    &__container {
        padding-top: 8rem;
    }
    &__img {
        display: baseline;
        height: 70px;
        vertical-align: middle;


    }

    &__img {
        display: baseline;
        height: 70px;
    }
}